@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:auto;width:auto;background-color:#d6b8b8; margin-top:0px;padding:0;"><br />
    
    <h2 style="color:#0094ff;font-family:Georgia; margin-left:500px;margin-top:0px;">Contact Information</h2>

    <p style="font:130px; font-family:Georgia; color:#c916d7; width:800px;margin-left:250px; margin-top:30px; text-align:start;">
        If you are looking for a place for your events. You surely taking it as a burden to find a good hall that will satisfy all of your needs.
        We understand your concern as its very important part of one of your biggest occasion of life and you want things to sort out as perfect
        as anyone could possibly can. After thorough understanding, we came in market to sort things out for consumers just like you to provide
        best possible solutions at discounted prices. We have a good list of halls in various cities, which we closely monitor and we list
        them here as we believe they are the best in the cities. You are feel free to contact us for further information on these halls,
        we will provide you best available solution according to your demands. With our reference you will also get discount as well.
    </p>
    <h4 style="font: 130px; font-family: Georgia; color: #0094ff; width: 800px; margin-left: 250px; margin-top: 10px; text-align: start;">Address:</h4>
    <p style ="font:130px; font-family:Georgia; color:#c916d7; width:800px;margin-left:250px; margin-top:10px; text-align:start;">
        Islamabad Regalia Hotel
        Street # 48,<br /> Sector G-6/1-1
        Islamabad, Pakistan.
    </p><br />
    <p>
        <span style ="font: 130px; font-family: Georgia; color: #0094ff; width: 800px; margin-left: 250px; margin-top: 30px; text-align: start;"> Tel:</span> <span style="font:130px; font-family:Georgia; color:#c916d7; width:800px;margin-left:54px; margin-top:15px; text-align:start;">+923434862606</span><br />
        <span style="font: 130px; font-family: Georgia; color: #0094ff; width: 800px; margin-left: 250px; margin-top: 30px; text-align: start;">Fax:</span> <span style="font:130px; font-family:Georgia; color:#c916d7; width:800px;margin-left:50px; margin-top:15px; text-align:start;"> +923434862606</span><br />
        <span style="font: 130px; font-family: Georgia; color: #0094ff; width: 800px; margin-left: 250px; margin-top: 30px; text-align: start;"> Mail us at:</span> <span style="font:130px; font-family:Georgia; color:#c916d7; width:800px;margin-left:10px; margin-top:15px; text-align:start;"> info@eventTech.com.pk </span> 
    </p>
    <br />
</div>