@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Save</h2>
<form action="/Home/SaveFile" method="post" enctype="multipart/form-data ">

            <p style="margin-left: 20px; font-size: 14px">
                Upload profile picture: <input type="file" name="image" />
            </p>
            <p><input type="submit" value="upload" /></p>
        </form>